---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout>
  <div class="prose">
    <h1>Úvod</h1>
    <p>
      {SITE_DESCRIPTION}
    </p>
    <p>
      Před tím, než vyrazím na nějakou cestu, investuji do příprav mnoho úsílí, času i peněz. 
      A kdybych si po návratu nezapsal, co jsem viděl a co jsem zažil, rychle bych na mnoho zážitků zapomněl
      a prakticky tak zahodil většinu prvotního úsilí, které jsem přípravám věnoval.
      I proto jsem se rozhodl založit tento cestovatelský blog, kam zaznamenávám nejen svoje dojmy, poznatky a rozumy,
      ale občas i cenné rady a tipy! A taky u toho teda protřídím fotky! 📸
    </p>
    <p>Věřím, že vás jejich čtení bude bavit! ❤️</p>
    <p>
      ℹ️ Pokud najdete na blogu chybu, nebo byste mě rádi kontaktovali s jinými postřehy, budu rád,
      pokud napíšete na následující e-mailovou adresu <a href="mailto:bezdekjarda@seznam.cz">bezdekjarda@seznam.cz</a>.
    </p>
  </div>
</Layout>
